<h1>Member Name: <%= @member.full_name()%></h1>
<h2>Upcoming Classes:</h2>

    <table>
        <tr>
            <th>Class Name</th>
            <th>Session</th>
            <th>Instructor</th>
            <th>Duration (mins)</th>
        </tr>
        <% for session in @member.booked_sessions%>
        <tr>
            <td><%= session.gym_class.name%></td>
            <td><%= session.get_day%> @ <%= session.start_time%></td>
            <td><%= session.gym_class.instructor%></td>
            <td><%= session.gym_class.duration%></td>
        </tr>
        <% end %>
    </table>