<h2>Update Member Details:</h2>

<form method="post" action="/members/<%= @member.id%>">
    <div class="form-wrapper">

        <div class="form-el">
            <label for="first-name">First Name:</label>
            <input id="first-name" value=<%= @member.first_name%> type="text" name="first_name"/>
        </div>

        <div class="form-el">
            <label for="last-name">Last Name:</label>
            <input id="last-name" value=<%= @member.last_name%> type="text" name="last_name"/>
        </div>

        <div class="form-el">
            <label for="date-of-birth">Date Of Birth:</label>
            <input id="date-of-birth" value=<%= @member.dob%> type="date" name="dob"/>
        </div>

        <div class="form-el">
            <label for="email">Contact Email:</label>
            <input id="email" value=<%= @member.email%> type="text" name="email"/>
        </div>

        <div class="form-el">
            <label for="date-joined">Date Joined:</label>
            <input id="date-joined" value=<%= @member.date_joined%> type="date" name="date_joined"/>
        </div>

        <div class="fomr-el">
            <input class="btn" type="submit" value="Update Member"/>
        </div>
    </div>

</form>
    