<form method="post" action="/members/<%= @member.id%>">
    <label for="first-name">First Name:</label>
        <input id="first-name" value=<%= @member.first_name%> type="text" name="first_name"/>

    <label for="last-name">Last Name:</label>
        <input id="last-name" value=<%= @member.last_name%> type="text" name="last_name"/>

    <label for="date-of-birth">Date Of Birth:</label>
        <input id="date-of-birth" value=<%= @member.dob%> type="date" name="dob"/>

    <label for="email">Contact Email:</label>
        <input id="email" value=<%= @member.email%> type="text" name="email"/>

    <input type="submit" value="Update Member"/>

</form>
    