<form method="post" action="/members/<%= @member.id%>">
    <label for="first-name">First Name:</label>
        <input id="first-name" value=<%= @member.first_name%> type="text" name="first_name"/>

    <label for="last-name">Last Name:</label>
        <input id="last-name" value=<%= @member.last_name%> type="text" name="last_name"/>

    <label for="date-of-birth">Date Of Birth:</label>
        <input id="date-of-birth" value=<%= @member.dob%> type="date" name="dob"/>

    <label for="email">Contact Email:</label>
        <input id="email" value=<%= @member.email%> type="text" name="email"/>

    <label for="phone-number">Phone Number:</label>
        <input id="phone-number" value=<%= @member.number%> type="text" name="number">

    <label for="date-joined">Date Joined:</label>
         <input id="date-joined" value=<%= @member.date_joined%> type="date" name="date_joined">

    <label for="membership_select">Memerbship Type:</label>
        <select name="membership_type" id="membership_select" value=<%= @member.membership_type%>>
            <option value="Premium">Premium</option>
            <option value="Standard">Standard</option>
        </select>

    <input type="submit" value="Update Member"/>

</form>
    