<a href="/members/new">Add New Member</a>

<% for member in @members%>
    <p>Name: <%= member.full_name()%></p>
    <p>Membership Type: <%= member.membership_type%></p>
    <p>Contact Email: <%= member.email%></p>
    <p><a href="/members/<%= member.id%>">Full profile</a></p>
    <p><a href="/members/<%= member.id%>/bookings">Classes Booked</a></p>

    
    <div class="btn">
        <form method="get" action="/members/<%=member.id%>/edit">
            <input type="submit" value="Edit Member"/>
        </form>
    </div>

    <div class="btn">
        <form method="post" action="/members/<%=member.id%>/delete">
            <input type="submit" value="Deactivate Member"/>
        </form>
    </div>

    <hr/>

<% end%>
