<h1>Member Profile:</h1>
    <p>Name: <%= @member.full_name()%></p>
    <p>Date Of Birth: <%= @member.dob%></p>
    <p>Contact Email: <%= @member.email%></p>
    <p>Phone Number: <%= @member.number%></p>
    <p>Member Since: <%= @member.date_joined%></p>
    <p>Memerbship Type: <%= @member.membership_type%></p>

    <a href="/members">Back To All Members</a>
