<h2 class="more-info">Member Profile:</h2>
    <p class="details">Name: <%= @member.full_name()%></p>
    <p class="details">Date Of Birth: <%= @member.dob%></p>
    <p class="details">Contact Email: <%= @member.email%></p>
    <p class="details">Phone Number: <%= @member.number%></p>
    <p class="details">Member Since: <%= @member.date_joined%></p>

    <a class="link-back" href="/members"><i class="arrow left"></i> Back To All Members</a>
