<h2>Edit Class Details:</h2>

<form method="post" action="/classes/<%= @gym_class.id%>">
    <div class="form-wrapper">

        <div class="form-el">
            <label for="class-name">Class Name:</label>
            <input id="class-name" value=<%= @gym_class.name%> type="text" name="name"/>
        </div>
    
        <div class="form-el">
            <label for="duration">Duration (mins):</label>
            <select id="duration" name="duration" value=<%= @gym_class.duration%>>
                <option value="15" <%= "selected" if @gym_class.duration == 15%>>15</option>
                <option value="30" <%= "selected" if @gym_class.duration == 30%>>30</option>
                <option value="45" <%= "selected" if @gym_class.duration == 45%>>45</option>
                <option value="60" <%= "selected" if @gym_class.duration == 60%>>60</option>
            </select>
        </div>

        <div class="form-el">
            <label for="instructor">Instructor:</label>
            <input id="instructor" value=<%= @gym_class.instructor%> type="text" name="instructor"/>
        </div>
    
        <div class="btn-container">
            <input class="btn" type="submit" value="Update Class"/>
        </div>

    </div>
</form>