<h2>Edit Class Details:</h2>

<form autocomplete="off" method="post" action="/classes/<%= @gym_class.id%>">
    <div class="form-wrapper">

        <div class="form-el">
            <label for="class-name">Class Name:</label>
            <input id="class-name" value=<%= @gym_class.name%> type="text" name="name"/>
        </div>
    
        <div class="form-el">
            <label for="duration">Duration (mins):</label>
            <select id="duration" name="duration" value=<%= @gym_class.duration%>>
                <option value="15" <%= "selected" if @gym_class.duration == 15%>>15</option>
                <option value="30" <%= "selected" if @gym_class.duration == 30%>>30</option>
                <option value="45" <%= "selected" if @gym_class.duration == 45%>>45</option>
                <option value="60" <%= "selected" if @gym_class.duration == 60%>>60</option>
            </select>
        </div>

        <div class="form-el">
            <label for="instructor">Instructor:</label>
            <select id="instructor" name="instructor" value=<%= @gym_class.instructor%>>
                <option value="Mark Smith" <%= "selected" if @gym_class.instructor == "Mark Smith"%>>Mark Smith</option>
                <option value="Aaron Johnson" <%= "selected" if @gym_class.instructor == "Aaron Johnson"%>>Aaron Johnson</option>
                <option value="Emily Watson" <%= "selected" if @gym_class.instructor == "Emily Watson"%>>Emily Watson</option>
                <option value="Michelle Black" <%= "selected" if @gym_class.instructor == "Michelle Black"%>>Michelle Black</option>
                <option value="William Blake" <%= "selected" if @gym_class.instructor == "William Blake"%>>William Blake</option>
                <option value="Troy Bolton " <%= "selected" if @gym_class.instructor == "Troy Bolton"%>>Troy Bolton</option>
            </select>
        </div>
    
        <div class="fomr-el">
            <input class="btn" type="submit" value="Update Class"/>
        </div>

    </div>
</form>