<% for gym_class in @gym_classes%>
    <p>Class Name: <%= gym_class.name%></p>
    <p>Duration: <%= gym_class.duration%></p>
    <p>Instructor: <%= gym_class.instructor%></p>
    <p>Capacity: <%= gym_class.capacity%></p>
    <p>Remaining Spaces: <%= gym_class.get_remaining_spaces()%></p>
    <p><a href="/classes/<%= gym_class.id%>">More Info</a></p>

    <form method="get" action="/classes/<%= gym_class.id%>/edit">
        <input type="submit" value="Update Class"/>
    </form>
    <hr/>

<% end%>