<h1>Class Name: <%= @gym_class.name%></h1>
<h1>Instructor Name: <%= @gym_class.instructor%></h1>
<h2>Upcoming Sessions:</h2>

    <table>
        <tr>
            <th>Day</th>
            <th>Start Time</th>
            <th>Duration</th>
            <th>Bookings</th>
            <th>Spaces Available</th>
        </tr>
        <% @gym_class.sessions.each do |gym_class|%>
        <tr>
            <td><%= gym_class.get_day()%></td>
            <td><%= gym_class.start_time%></td>
            <td><%= gym_class.gym_class.duration()%> mins </td>
            <td><%= gym_class.members.count()%></td>
            <td><%= gym_class.remaining_spaces()%></td>
        </tr>
        <% end %>
    </table>