    <p>Class Name: <%= @gym_class.name%></p>
    <p>Duration: <%= @gym_class.duration%></p>
    <p>Instructor: <%= @gym_class.instructor%></p>
    <p>Capacity: <%= @gym_class.capacity%></p>
    <p>Remaining Spaces: <%= @gym_class.get_remaining_spaces()%></p>
    <hr/>