<a href="/bookings/new">Create New Booking</a>

<h1>All Bookings</h1>

    <table>
        <tr>
            <th>Booking Reference</th>
            <th>|</th>
            <th>Member Name</th>
            <th>|</th>
            <th>Class</th>
            <th>|</th>
            <th>Day</th>
            <th>|</th>
            <th>Session Time</th>
        </tr>
        <hr/>
        <% for booking in @bookings%>
        <tr>
            <td><%= booking.id%></td>
            <td></td>
            <td><%= booking.member.full_name()%></td>
            <td></td>
        <% end %>
        <% for session in @sessions%>
            <td><%= session.gym_class.name%></td>
            <td></td>
            <td><%= session.day%></td>
            <td></td>
            <td><%= session.start_time%></td>
            <td></td>
            <td><form method="post" action="/bookings/<%= booking.id%>/delete">
                    <input type="submit" value="Delete Booking"/>
                </form></td>
        </tr>
    </table>
        <% end %>


