<a href="/bookings/new">Create New Booking</a>

<h1>All Bookings</h1>

    <table>
        <tr>
            <th>Booking Reference</th>
            <th></th>
            <th>Class Name</th>
            <th></th>
            <th>Instructor</th>
            <th></th>
            <th>Member</th>
            <th></th>
        </tr>
        <% for booking in @bookings%>
        <tr>
            <td><%= booking.id%></td>
            <td></td>
            <td><%= booking.gym_class.name%></td>
            <td></td>
            <td><%= booking.gym_class.instructor%></td>
            <td></td>
            <td><%= booking.member.full_name()%></td>
            <td></td>
            <td><form method="post" action="/bookings/<%= booking.id%>/delete">
                    <input type="submit" value="Delete Booking"/>
                </form>
        <% end %>


