<h1>New Booking</h1>

<form method="post" action="/bookings">

    <label>
    Select A Member:
        <select name="member_id">
            <% for member in @members%>
            <option value="<%= member.id%>"><%= member.full_name%></option>
            <% end %>
        </select>
    </label>

    <label>
    Select Available Class:
        <select name="gymclass_id">
            <% for gym_class in @gym_classes%>
            <% if gym_class.members.count() < gym_class.capacity%>
                <option value="<%= gym_class.id%>"><%= gym_class.name%></option>
            <% else %>
                <%# <%= "this class is full!"%>
            <% end %>
            <% end %>
        </select>
    </label>

    <input type="submit" value="Create Booking"/>

</form>