<h1>New Booking</h1>

<form method="post" action="/bookings">

    <label>
    Select A Member:
        <select name="member_id">
            <% for booking in @bookings%>
                <option value="<%= booking.member_id%>"><%= booking.member.full_name()%></option>
            <% end %>
        </select>
    </label>

    <label>
    Select Class:
        <select name="gymclass_id">
            <% for gym_class in @classes%>
                <option value="<%= gym_class.id%>"><%= gym_class.name%></option>
            <% end %>
         </select>
    </label>

    <label>
    Select Available Session:
        <select name="session_id">
             <% for session in @sessions%>
              <% if session.members.count() < session.capacity%>
                <option value="<%= session.id%>"><%= session.day%> @ <%= session.start_time%></option>
            <% end %>
            <% end %>
        </select>
    </label>

    <input type="submit" value="Create Booking"/>

</form>