<h1>New Booking</h1>

<% for gym_class in @classes%>
<form method="get" action="/bookings/new/sessions/<%= gym_class.id %>">
<% end %>

    <label>
    Select A Member:
        <select name="member_id">
            <% for member in @members%>
                <option value="<%= member.id%>"><%= member.full_name()%></option>
            <% end %>
        </select>
    </label>

    <label>
    Select Class:
        <select name="gymclass_id">
            <% for gym_class in @classes%>
                <option value="<%= gym_class.id%>"><%= gym_class.name%></option>
            <% end %>
         </select>
    </label>

    <label>
    Select Session:
        <select>
            <% for session in @sessions%>
        
            <% end %>

        </select>
    </label>


    <input type="submit" value="All Available Sessions"/>

</form>