<h2 class="more-info">Class: <%= @session.gym_class.name%></h2>
    <p class="details">Day: <%= @session.get_day()%> @ <%= @session.start_time%></p>
    <p class="details">Instructor: <%= @session.gym_class.instructor%></p>
    <p class="details">Capacity: <%= @session.capacity%></p>
    <p class="details">Remaining Spaces: <%= @session.remaining_spaces()%></p>


<div class="newsession">
    
    <h1>Bookings</h1>
    <table>
        <tr>
            <th>Member Name</th>
            <th>Email</th>
            <th>Member Since</th>
        </tr>
        <% for session in @session.members()%>
        <tr>
            <td><%= session.full_name()%></td>
            <td><%= session.email%></td>
            <td><%= session.date_joined%></td>
            </td>
        <% end %>
        </tr>
    </table>

<a class="link-back" href="/sessions"><i class="arrow left"></i>Back To All Sessions</a>

