<form method="post" action="/sessions/<%= @session.id%>">
    
    <label>
    Class Type:
        <select name="gymclass_id" selected="<%= @session.gymclass_id%>">
            <% @gym_classes.each do |gym_class| %>
                <% if gym_class.id == @session.gym_class.id%>
                    <option value=<%= gym_class.id%> selected><%= gym_class.name%></option>
                <% end %>
            <% end %>
         </select>
    </label>
    
    <label for="day">Day:</label>
        <select id="day" name="day">
            <option value="monday" <%= "selected" if @session.day == "monday"%>> Monday</option>
            <option value="tuesday" <%= "selected" if @session.day == "tuesday"%>>Tuesday</option>
            <option value="wednesday" <%= "selected" if @session.day == "wednesday"%>>Wednesday</option>
            <option value="thursday" <%= "selected" if @session.day == "thursday"%>>Thursday</option>
            <option value="friday" <%= "selected" if @session.day == "friday"%>>Friday</option>
            <option value="saturday" <%= "selected" if @session.day == "saturday"%>>Saturday</option>
            <option value="sunday" <%= "selected" if @session.day == "sunday"%>>Sunday</option>
        </select>

    <label for="start-time">Start Time:</label>
        <input id="start-time" type="time" value=<%= @session.start_time%> name="start_time" min="09:00" max="18:00"/>

    <label for="capacity">Cacpacity:</label>
        <input id="capacity" type="number" value=<%= @session.capacity%> name="capacity" min="0" max="50"/>
    
    <input type="submit" value="Update Session"/>

</form>