<a href="/sessions/new">Add New Session</a>

<h1>All Sessions</h1>

<h2>Monday Sessions:</h2>
<% for session in @sessions%>
    <% if session.day == 1%></p>
        <p>Class Name: <%= session.gym_class.name%></p>
        <p>Instructor: <%= session.gym_class.instructor%></p>
        <p>Start Time: <%= session.start_time%></p>
        <p>Duration: <%= session.gym_class.duration%> mins</p>
        <p>Spaces Available: <%= session.remaining_spaces()%></p>
        <p>Number Members Booked: <%= session.members.count%></p>

    <a href="/sessions/<%=session.id%>/bookings">Show Members Booked</a>

    <form method="get" action="/sessions/<%=session.id%>/edit">
        <input type="submit" value="Update Session"/>
    </form>

    <form method="post" action="/sessions/<%= session.id%>/delete">
        <input type="submit" value="Delete Session"/>
    </form>

    <hr/>
    <% end %>
<% end %>

<h2>Tuesday Sessions:</h2>
<% for session in @sessions%>
    <% if session.day == 2%></p>
    <p>Class Name: <%= session.gym_class.name%></p>
    <p>Instructor: <%= session.gym_class.instructor%></p>
    <p>Start Time: <%= session.start_time%></p>
    <p>Duration: <%= session.gym_class.duration%> mins</p>
    <p>Spaces Available: <%= session.remaining_spaces()%></p>

    <p>Number Members Booked: <%= session.members.count%></p>
    <a href="/sessions/<%=session.id%>/bookings">Show Members Booked</a>
    <form method="get" action="/sessions/<%=session.id%>/edit">
        <input type="submit" value="Update Session"/>
    </form>

    <form method="post" action="/sessions/<%= session.id%>/delete">
        <input type="submit" value="Delete Session"/>
    </form>
    <hr/>
    <% end %>
<% end %>

<h2>Wednesday Sessions:</h2>
<% for session in @sessions%>
    <% if session.day == 3%></p>
    <p>Class Name: <%= session.gym_class.name%></p>
    <p>Instructor: <%= session.gym_class.instructor%></p>
    <p>Start Time: <%= session.start_time%></p>
    <p>Duration: <%= session.gym_class.duration%> mins</p>
    <p>Spaces Available: <%= session.remaining_spaces()%></p>

    <p>Number Members Booked: <%= session.members.count%></p>
    <a href="/sessions/<%=session.id%>/bookings">Show Members Booked</a>
    <form method="get" action="/sessions/<%=session.id%>/edit">
        <input type="submit" value="Update Session"/>
    </form>

    <form method="post" action="/sessions/<%= session.id%>/delete">
        <input type="submit" value="Delete Session"/>
    </form>
    <hr/>
    <% end %>
<% end %>

<h2>Thursday Sessions:</h2>
<% for session in @sessions%>
    <% if session.day == 4%></p>
    <p>Class Name: <%= session.gym_class.name%></p>
    <p>Instructor: <%= session.gym_class.instructor%></p>
    <p>Start Time: <%= session.start_time%></p>
    <p>Duration: <%= session.gym_class.duration%> mins</p>
    <p>Spaces Available: <%= session.remaining_spaces()%></p>

    <p>Number Members Booked: <%= session.members.count%></p>
    <a href="/sessions/<%=session.id%>/bookings">Show Members Booked</a>
    <form method="get" action="/sessions/<%=session.id%>/edit">
        <input type="submit" value="Update Session"/>
    </form>

    <form method="post" action="/sessions/<%= session.id%>/delete">
        <input type="submit" value="Delete Session"/>
    </form>
    <hr/>
    <% end %>
<% end %>

<h2>Friday Sessions:</h2>
<% for session in @sessions%>
    <% if session.day == 5%></p>
    <p>Class Name: <%= session.gym_class.name%></p>
    <p>Instructor: <%= session.gym_class.instructor%></p>
    <p>Start Time: <%= session.start_time%></p>
    <p>Duration: <%= session.gym_class.duration%> mins</p>
    <p>Spaces Available: <%= session.remaining_spaces()%></p>

    <p>Number Members Booked: <%= session.members.count%></p>
    <a href="/sessions/<%=session.id%>/bookings">Show Members Booked</a>
    <form method="get" action="/sessions/<%=session.id%>/edit">
        <input type="submit" value="Update Session"/>
    </form>

    <form method="post" action="/sessions/<%= session.id%>/delete">
        <input type="submit" value="Delete Session"/>
    </form>
    <hr/>
    <% end %>
<% end %>

<h2>Saturday Sessions:</h2>
<% for session in @sessions%>
    <% if session.day == 6%></p>
    <p>Class Name: <%= session.gym_class.name%></p>
    <p>Instructor: <%= session.gym_class.instructor%></p>
    <p>Start Time: <%= session.start_time%></p>
    <p>Duration: <%= session.gym_class.duration%> mins</p>
    <p>Spaces Available: <%= session.remaining_spaces()%></p>

    <p>Number Members Booked: <%= session.members.count%></p>
    <a href="/sessions/<%=session.id%>/bookings">Show Members Booked</a>
    <form method="get" action="/sessions/<%=session.id%>/edit">
        <input type="submit" value="Update Session"/>
    </form>

    <form method="post" action="/sessions/<%= session.id%>/delete">
        <input type="submit" value="Delete Session"/>
    </form>
    <hr/>
    <% end %>
<% end %>

<h2>Sunday Sessions:</h2>
<% for session in @sessions%>
    <% if session.day == 7%></p>
    <p>Class Name: <%= session.gym_class.name%></p>
    <p>Instructor: <%= session.gym_class.instructor%></p>
    <p>Start Time: <%= session.start_time%></p>
    <p>Duration: <%= session.gym_class.duration%> mins</p>
    <p>Spaces Available: <%= session.remaining_spaces()%></p>

    <p>Number Members Booked: <%= session.members.count%></p>
    <a href="/sessions/<%=session.id%>/bookings">Show Members Booked</a>
    <form method="get" action="/sessions/<%=session.id%>/edit">
        <input type="submit" value="Update Session"/>
    </form>

    <form method="post" action="/sessions/<%= session.id%>/delete">
        <input type="submit" value="Delete Session"/>
    </form>
    <hr/>
    <% end %>
<% end %>