<a href="/sessions/new">Add New Session</a>

<% for session in @sessions%>
    <p>Class Name: <%= session.gym_class.name%></p>
    <p>Instructor: <%= session.gym_class.instructor%></p>
    <p>Day: <%= session.day%></p>
    <p>Start Time: <%= session.start_time%></p>
    <p>Duration: <%= session.gym_class.duration%> mins</p>
    <p>Spaces Left: <%= session.remaining_spaces()%></p>

    <td><form method="post" action="/sessions/<%= session.id%>/delete">
                    <input type="submit" value="Delete Booking"/>
        </form></td>

    <hr/>
<% end %>