<a href="/sessions/new">Add New Session</a>

<h1>Schedule:</h1>

<% for session in @sessions%>
    <p>Day: <%= session.get_day()%></p>
    <p>Class Name: <%= session.gym_class.name%></p>
    <p>Instructor: <%= session.gym_class.instructor%></p>
    <p>Start Time: <%= session.start_time%></p>
    <p>Duration: <%= session.gym_class.duration%> mins</p>
    <p>Spaces Left: <%= session.remaining_spaces()%></p>

    <p>Number Members Booked: <%= session.members.count%></p>
    <a href="/sessions/<%=session.id%>/bookings">Show Members Booked</a>
    <form method="get" action="/sessions/<%=session.id%>/edit">
        <input type="submit" value="Update Session"/>
    </form>

    <form method="post" action="/sessions/<%= session.id%>/delete">
        <input type="submit" value="Delete Session"/>
    </form>
    <hr/>
<% end %>