<h1>Timetable</h1>

<a href="/sessions/new" class="create">Add New Session</a>

<h2>Monday Sessions:</h2>
<table class="table-wrapper">
        <tr>
            <th>Class Name</th>
            <th>Start Time</th>
            <th>Duration</th>
            <th>Spaces Available</th>
            <th>Number Bookings</th>
            <th></th>
            <th></th>
        </tr>
<% for session in @sessions%>
    <% if session.day == 1%>
        <tr>
            <td><%= session.gym_class.name%></td>
            <td><%= session.start_time%></td>
            <td><%= session.gym_class.duration%> mins</td>
            <td><%= session.remaining_spaces()%></td>
            <td><%= session.members.count%></td>
            <td>
                <form method="get" action="/sessions/<%=session.id%>/edit">
                    <input class="btn" type="submit" value="Update Session"/>
                </form>
            </td>
            <td>
                <form method="post" action="/sessions/<%= session.id%>/delete">
                    <input class="btn" type="submit" value="Delete Session"/>
                </form>
            </td>

        </tr>
 <a href="/sessions/<%=session.id%>/bookings">Show Members Booked</a>

    <% end %>
<% end %>
</table>

<h2>Tuesday Sessions:</h2>
<table class="table-wrapper">
        <tr>
            <th>Class Name</th>
            <th>Start Time</th>
            <th>Duration</th>
            <th>Spaces Available</th>
            <th>Number Bookings</th>
            <th></th>
            <th></th>
        </tr>
<% for session in @sessions%>
    <% if session.day == 2%>
        <tr>
            <td><%= session.gym_class.name%></td>
            <td><%= session.start_time%></td>
            <td><%= session.gym_class.duration%> mins</td>
            <td><%= session.remaining_spaces()%></td>
            <td><%= session.members.count%></td>
            <td>
                <form method="get" action="/sessions/<%=session.id%>/edit">
                    <input class="btn" type="submit" value="Update Session"/>
                </form>
            </td>
            <td>
                <form method="post" action="/sessions/<%= session.id%>/delete">
                    <input class="btn" type="submit" value="Delete Session"/>
                </form>
            </td>

        </tr>
 <a href="/sessions/<%=session.id%>/bookings">Show Members Booked</a>

    <% end %>
<% end %>
</table>

<h2>Wednesday Sessions:</h2>
<table class="table-wrapper">
        <tr>
            <th>Class Name</th>
            <th>Start Time</th>
            <th>Duration</th>
            <th>Spaces Available</th>
            <th>Number Bookings</th>
            <th></th>
            <th></th>
        </tr>
<% for session in @sessions%>
    <% if session.day == 3%>
        <tr>
            <td><%= session.gym_class.name%></td>
            <td><%= session.start_time%></td>
            <td><%= session.gym_class.duration%> mins</td>
            <td><%= session.remaining_spaces()%></td>
            <td><%= session.members.count%></td>
            <td>
                <form method="get" action="/sessions/<%=session.id%>/edit">
                    <input class="btn" type="submit" value="Update Session"/>
                </form>
            </td>
            <td>
                <form method="post" action="/sessions/<%= session.id%>/delete">
                    <input class="btn" type="submit" value="Delete Session"/>
                </form>
            </td>

        </tr>
 <a href="/sessions/<%=session.id%>/bookings">Show Members Booked</a>

    <% end %>
<% end %>
</table>

<h2>Thursday Sessions:</h2>
<table class="table-wrapper">
        <tr>
            <th>Class Name</th>
            <th>Start Time</th>
            <th>Duration</th>
            <th>Spaces Available</th>
            <th>Number Bookings</th>
            <th></th>
            <th></th>
        </tr>
<% for session in @sessions%>
    <% if session.day == 4%>
        <tr>
            <td><%= session.gym_class.name%></td>
            <td><%= session.start_time%></td>
            <td><%= session.gym_class.duration%> mins</td>
            <td><%= session.remaining_spaces()%></td>
            <td><%= session.members.count%></td>
            <td>
                <form method="get" action="/sessions/<%=session.id%>/edit">
                    <input class="btn" type="submit" value="Update Session"/>
                </form>
            </td>
            <td>
                <form method="post" action="/sessions/<%= session.id%>/delete">
                    <input class="btn" type="submit" value="Delete Session"/>
                </form>
            </td>

        </tr>
 <a href="/sessions/<%=session.id%>/bookings">Show Members Booked</a>

    <% end %>
<% end %>
</table>

<h2>Friday Sessions:</h2>
<table class="table-wrapper">
        <tr>
            <th>Class Name</th>
            <th>Start Time</th>
            <th>Duration</th>
            <th>Spaces Available</th>
            <th>Number Bookings</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
<% for session in @sessions%>
    <% if session.day == 5%>
            <td><%= session.gym_class.name%></td>
            <td><%= session.start_time%></td>
            <td><%= session.gym_class.duration%> mins</td>
            <td><%= session.remaining_spaces()%></td>
            <td><%= session.members.count%></td>
            <td>
                <form method="get" action="/sessions/<%=session.id%>/edit">
                    <input class="btn" type="submit" value="Update Session"/>
                </form>
            </td>
            <td>
                <form method="post" action="/sessions/<%= session.id%>/delete">
                    <input class="btn" type="submit" value="Delete Session"/>
                </form>
            </td>

        </tr>
 <a href="/sessions/<%=session.id%>/bookings">Show Members Booked</a>

    <% end %>
<% end %>
</table>

<h2>Saturday Sessions:</h2>
<table class="table-wrapper">
        <tr>
            <th>Class Name</th>
            <th>Start Time</th>
            <th>Duration</th>
            <th>Spaces Available</th>
            <th>Number Bookings</th>
            <th></th>
            <th></th>
        </tr>
<% for session in @sessions%>
    <% if session.day == 6%>
        <tr>
            <td><%= session.gym_class.name%></td>
            <td><%= session.start_time%></td>
            <td><%= session.gym_class.duration%> mins</td>
            <td><%= session.remaining_spaces()%></td>
            <td><%= session.members.count%></td>
            <td>
                <form method="get" action="/sessions/<%=session.id%>/edit">
                    <input class="btn" type="submit" value="Update Session"/>
                </form>
            </td>
            <td>
                <form method="post" action="/sessions/<%= session.id%>/delete">
                    <input class="btn" type="submit" value="Delete Session"/>
                </form>
            </td>

        </tr>
 <a href="/sessions/<%=session.id%>/bookings">Show Members Booked</a>

    <% end %>
<% end %>
</table>

<h2>Sunday Sessions:</h2>
<table class="table-wrapper">
        <tr>
            <th>Class Name</th>
            <th>Start Time</th>
            <th>Duration</th>
            <th>Spaces Available</th>
            <th>Number Bookings</th>
            <th></th>
            <th></th>
        </tr>
<% for session in @sessions%>
    <% if session.day == 7%>
        <tr>
            <td><%= session.gym_class.name%></td>
            <td><%= session.start_time%></td>
            <td><%= session.gym_class.duration%> mins</td>
            <td><%= session.remaining_spaces()%></td>
            <td><%= session.members.count%></td>
            <td>
                <form method="get" action="/sessions/<%=session.id%>/edit">
                    <input class="btn" type="submit" value="Update Session"/>
                </form>
            </td>
            <td>
                <form method="post" action="/sessions/<%= session.id%>/delete">
                    <input class="btn" type="submit" value="Delete Session"/>
                </form>
            </td>

        </tr>
 <a href="/sessions/<%=session.id%>/bookings">Show Members Booked</a>

    <% end %>
<% end %>
</table>